header {
    position: fixed;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(177, 177, 177);
    z-index: 999;
    margin: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 10px rgb(30 30 30 / 8%);
}